* {
    font-family: 'Roboto', sans-serif;
    border: none;
    margin: none;
    padding: none;
}

.main-container {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    padding: 20px;
    color: #E5E7EB;
    border: none;
}

.container-1 {
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
}

.container-1 .nav{
    display: flex;
    justify-content: flex-end;
    flex: 1;
    list-style-type: none;
    gap: 20px;
}

.container-1 .nav a {
    text-decoration: none;
    color: #E5E7EB;
}

.container-1 .nav a:hover {
    color: #3882F6;
}

.container-1 .nav ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
}

.hero {
    display: flex;
    flex-direction: row;
    /* align-items: center;
    text-align: center;
    padding: 50px 20px; */
}

.hero .hero-image {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    height: 300px;
    width: auto;
}

.hero .hero-image img {
    height: 100%;
    width: auto;
    border-radius: 10px;
}

.hero .hero-text .btn {
    border-radius: 5px;
    background-color: #3882F6;
    color: #E5E7EB;
    padding: 10px 20px;
    border: none;

}

.hero .hero-text .btn:hover {
    background-color: #E5E7EB;
    color: #3882F6;
}

.hero h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 700;
}

#logo {
    font-size: 24px;
    color: #F9FAF8;
}
